/* Base styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333; /* Dark background color */
    color: #fff; /* Light text color */
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav {
    text-align: center;
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    margin: 0 5px;
    transition: all 0.3s ease-in-out;
}

nav a:hover {
    background-color: #45a049;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

h1, h2 {
    color: #fff; /* Light text color */
    text-align: center;
}

p {
    line-height: 1.6;
}

.game-images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.game-img-wrapper {
    width: 45%; /* Adjust the width as needed */
    cursor: pointer; /* Apply cursor to the wrapper */
}

.game-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.game-img:hover {
    transform: scale(1.05);
}

footer {
    background-color: #333; /* Dark background color */
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
